main {
  background-color: #fec7d7;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

form {
  padding: 1rem;
  background-color: #d9d4e7;
}

.input {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
}

input.input__label:hover {
  border: 1px solid #333333;
}

label.input__label:hover {
  color: #2962FF;
}
label.input__label:focus {
  color: #2962FF;
}

input.input__label:focus {
  border: 1px solid #2962FF;
  border-color: #2962FF 1px solid;
  outline: none;
}

.input__error {
  border: 1px solid #D32F2F;
}

label.input__error {
  border: none;
  color: #D32F2F;
}

label.input__error:hover {
  border: none;
  color: #333333;
}

label.input__error:focus {
  color: #D32F2F;
}

input.input__error:hover {
  border: 1px solid #333333;
}

input.input__error:focus {
  border: 1px solid #D32F2F;
  outline: none;
}

.input__disabled:disabled {
  background: #F2F2F2;
  border: 1px solid #E0E0E0;
}
label.input__disabled {
  border: none;
  background: none;
}

.textInt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input__interestingText {
  border: 1px solid #D32F2F;
  color: #D32F2F;
}
label.input__interestingText {
  border: none;
}

.input__contact {
  display: block;
  transform: translate(3px, 0px);
}

.input__padlock {
  display: block;
  transform: translate(3px, 0px);
}

.input__contact::-webkit-input-placeholder {
  padding-left: 6rem;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

i:nth-of-type(1) {
  position: absolute;
  top: 3rem;
  margin-left: 0;
  bottom: 0;
  left: 30px;
}

i:nth-of-type(2) {
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.style {
  max-width: 100%;
}

input.input__sm {
  height: 40px;
}

input.input__md {
  height: 56px;
}

.smdm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input__fullwidth {
  width: 100%;
}

input.input__4 {
  padding-bottom: 150px;
}